<!doctype html>
<h1>Puzzle to Decrypt Passcode</h1>
<p>Copy the digits from the image into the textbox. Then enter what you want to encrypt and decrypt.</p>
<img src="{{ image_path }}">

<form method="POST">
    <p><textarea name="text" cols="50" rows="4" style="font-size: 20pt"></textarea></p>

    <h2>To Decrypt</h2>
    <p><textarea name="decrypt" cols="50" rows="4" style="font-size: 20pt"></textarea></p>

    <h2>To Encrypt</h2>
    <p><textarea name="encrypt" cols="50" rows="4" style="font-size: 20pt"></textarea></p>

    <p><input type="submit"></p>
</form>

